@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&family=Dancing+Script&display=swap');
html
{
    scroll-behavior: smooth;
}
body
{
    font-family:advent Pro;sans-serif;
    padding: 10px;
    margin: 10px;
    background-image: url(images/skeur.jpg);
    position: relative;
    mask-repeat: no-repeat;
}
ul
{
    margin: 0;
    padding: 0;
}
li
{
    list-style-type: none ;
}
h2
{
    text-transform:uppercase;
    text-align: center;
    padding top: 30px;
    font: size 2em;
}
a
{
    text-decoration: none;
    color: #000;
}
/* ******************* NAVBAR ******************** */
nav 
{
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    width: 100%;
    opacity:0.9;
    color: #FFFFFF;
    background: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    
}
header li
{
    float: right;
    font-size: 1.2em;
    
}
header li a
{
    text-decoration: none;
    display: block;
    text-align: center;
    padding:18px 16px;
}
#logo
{
    font-family: "dansing script"; cursive;
    font-weight: bold;
    float: left;
}
/* ******************** IMAGE PRINCIPALE ****************** */
#ImagePrincipale
{
    padding-top: 60px;
    background:url(images/skeur.jpg) no repeat fixed 50% 50%;
    background-size: cover;
    height:799px;
}
h1
{
    font-family: "dancing Script"; cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 40px;
    text-shadow: 5px 3px 2px black;
    
    
}
#premiertrait
{
    height: 1px;
    width: 25%;
    margin: -3% auto;
    background-color: #fff;
    box-shadow: 1px 3px 2px black;
}
h3
{
    text-align: center;
    color: antiquewhite;
    font: size 3em;
    text-shadow: 1px 3px 2px black;
}
/* ********************Presentation ***************** */ 

#Presentation 
{
    background-color: #fffaef;
    padding: 10px 0px 100px 0;   
}
#texteintro
{
    padding: 0px 20%;
}
#Prestation 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
}
.Imagesprestation h4
{
    font-family: Dancing Script; cursive;
    text-align: center;
    font-size: 1.8em;
    margin:15%;
    font-weight:300;
}
.Imagesprestation img
{
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px #49ff18 #5ec9bb #9868b8;
}
.Imagesprestation img:hover 
{
    opacity: 0,5%;
    transform: scale(1.05);
    transition: 0,10ms; ease-in-out;
}
/* *******************Tourisme********************* */
#tourisme 
{
    height: 1400px;
    background-color: #fff;
    padding: 1px 2%;
}
#tourisme h2 
{
    padding: top 60px;
}
#Ocean
{
    background: url(media/ocean.jpg);
}
#Chateau
{
    background: url(media/chateau.JPG);
}
#phare
{
    background: url(media/phare.JPG);
}
#vignoble
{
    background: url(media/vignes.jpg);
}
#tourisme li 
{
    margin: 65px 100px 0px 100px;
    height: 256px;
    width: 55%;
    max-width: 55%;
    float: left;
    box-shadow:6px 6px 28px -1px rgba(0, 0, 0, 0.75) ;

}
#tourisme p 
{
    height: 45px;
    width: 235px;
    background-color: #5ec9bb;
    float: right;
    margin: 50px -180px 0 0;
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 4px 4px 0px 1px rgba(90, 161, 43, 1);
}
#tourisme #Chateau, #tourisme #vignoble 
{
    float: right;
    cursor: pointer;
}
#Chateau p, #vignoble p
{
    float: left;
    background-color: #5ec9bb;
    margin: left -200px;
    box-shadow: -4px 4px 0px 1px rgba(15,154,156,1);

}
/* ********************footer******************* */
footer
{
    background-color:#524A3A ;
    color: #fff;
    padding: 20px 0 10px 0;
    text-align: center;
}
form
{
    margin: 0 auto;
    max-width: 900px;
}
input, textarea, button 
{
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1,2em;
    font-family: "Advent Pro"; sans-serif;
    border-radius: 8px;
}
textarea
{
    height: 120px;
}
button
{
    font-size: 1,5em;
    background-color: #fff;
}
button:hover
{
    background-color: #e55039;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#DeuxiemeTrait 
{
    height: 1px;
    width: 75%;
    background-color: #fffaef;
    margin: 60px auto;
}
#CopyrightETIcons p
{
    display:flex;
    margin-bottom:20px;
    padding: 0 10%;
}
#Copyright 
{
    width: 50%;
    text-align: left;
    color: #FFFFFF;
}
#Icons 
{
    width: 100%;
    text-align: right;
}
#Icons a
{
    display: inline-block;
    padding: 0.15px;
    margin: 0 15px;
    font-size: 1.3em;
    color: #FFFFFF;
}
#Icons a:hover
{
    transform: scale(0.1);
    transition:0.1s ;
}
